__pycache__/
*.py[cod]
.env
*.zip
_gtfsrt.bin
bike_train_transit/logs/
citibike_alert/logs/
bike_train_transit/bike_train_transit/
njt_credentials.json
.njt_credentials.json
transit_credentials.json
.transit_credentials.json
